body {
    margin: auto;
    padding: 50px;
    color: #000; /* black */
    font-family: 'Lato', sans-serif;
}


/* ---- Set up site grid ---- */

.wrapper {
    display: grid;
    grid-template-columns: 200px 2fr 400px;
    grid-template-rows: auto;
    grid-template-areas:
        "logo banner banner"
        "main main side"
        "footer footer footer";
    grid-gap: 4px;
}

/* ---- End of grid setup ---- */


/* -000- Area styling -000- */

.box {
    padding: 20px;
    border-radius: 10px;
}

/* Area colouring... */

/* logo, banner and footer background are the same */
.logo, .banner, .footer {
    background-color: #1e4957;  /* dark navy blue */
}

/* Set font on dark areas to white */
.logo, .banner, .side, .footer {
    color: #fff; /* white */
}

/* Area specifics */
.logo {
    grid-area: logo;
    padding: 0;
    height: 200px;
    width: 200px;
    background-image: url(Images/book_200.png);
}

.banner {
    grid-area: banner;
}

.nav {
    grid-area: nav;
    background-color: #448584;  /* dark cyan */
    font-size: 150%;
    text-align: center;
}

.main {
    grid-area: main;
    background-color: #a7dbcc;  /* pale turqoise */
    border: solid 1px #CCC; /* light grey */
}

.side {
    grid-area: side;
    background-color: #abcbb1;  /* mint green */
    border: solid 1px #CCC; /* grey */
   
}

.footer {
    grid-area: footer;
    text-align: right;
}

/* -000- End of area styling -000- */

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 550px;
}
/* Side Links */
a.side{font-weight: bold; text-decoration: none;}
a.side:link, a.side:visited {color: #d5f5f3} /* pale turqoise */
a.side:hover {color: #fff;} /* white */


/* Links in Page */
a {font-weight: bold;}
a:link{color: #def2ec;} /* pale turqoise */
a:visited{color: #8ba8b3;} /* light greyish blue */
a:hover{color: #fff;}    /* white */


/* Contact Form Styling */
.contact {
    width: 100%;
}


.img-circle {
    border-radius: 50%;
    border: solid 5px #fff;
    max-width: 50%;
    height: auto;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.center_image {
    text-align: center;
}

/* Sub Heading Formatting */
.sub_heading {
    font-family: 'Ubuntu', sans-serif;
    color: #593849; /* dark maroon */
    font-weight: bold;
}

/* Results Box Formatting */
.results {
    background-color: #daf0e9;
    border-radius: 10px;
    border: 1px solid #000;
    padding: 10px;
}

/* Form Formatting */

.search {
    width: 200px;
    padding: 8px 15px;
    background: #fff
}

/* Error Box Formatting */
.error {
    background-color: #ffe0ed; /* pale pink */
    border: 2px solid #8a1737; /* dark red border */
    color: #8a1737; /* dark red */
}

form {
    width: 250px;
    margin: 5px;
}

.submit {
    font-family: FontAwesome;
    position: relative;
    width: 45px;
    left: -1px;
    background-color: #def2ec;
    color: #000;       
    border: 1px solid #def2ec;
    border-radius: 0 5px 5px 0;
}

input[type="submit"]:hover {
    background-color: #fff;
}

input {
    height: 39px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.half_width {
    width: 99px;
}

select {
    outline: 0;
    height: 39px;
    border: 1px solid #ccc;
    color: #878787;
    width: 200px;
}

